@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

html {
  box-sizing: border-box;
  font-family: 'Kumbh Sans', sans-serif;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  margin: 0 auto;
}
main {
  /* min-width: 400px; */
  max-width: 400px;
  padding: 1rem;
  border: 1px solid black;
  margin: 0 auto;
}
img {
  width: 100%;
}
h1 {
  text-align: center;
  color: black;
}
h4 {
  padding: 1rem 0;
  border-bottom: 1px solid black;
  margin-bottom: 1rem;
}
.arrow {
  width: 15px;
  height: 10px;
}
.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* toogle hidden */
.hidden {
  display: none;
  /* overflow: hidden;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out; */
}
.rotate-icon {
  transform: rotate(180deg);
}

.question-container {
  transition: 0.4s;
}
