@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

html {
  box-sizing: border-box;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 14px;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(180deg, #b068e9 0%, #6463e7 100%);
  /* height: 100%; */
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  height: 100vh;
}
main {
  /* min-width: 30.7692rem; */
  max-width: 375px;
  min-width: 375px;
  padding: 0 13px;
  margin: 0 auto;
  margin-top: 150px;
  /* border: 1px solid black; */
  height: 100%;
  position: relative;
}
.img-container {
  position: relative;
  width: 100%;
}

.mobile-image {
  width: 70%;
  display: block;
  position: absolute;

  top: -110px;
  left: 15%;
}
.bg-pattern {
  width: 70%;
  display: block;
  z-index: 55555;
  position: absolute;
  left: 15%;
  top: 5px;
}
.faq-container {
  /* margin-top: -50px; */
  background: white;
  box-shadow: 0rem 3.8462rem 3.8462rem -1.5385rem rgba(53, 18, 122, 0.497159);
  border-radius: 23px;
  padding: 0 1.5rem 3.6923rem 1.5rem;
}
.faq-container h1 {
  padding-top: 132px;
  text-align: center;
  color: black;
  margin-bottom: 2.3077rem;
}
.question-container {
  padding: 1.5385rem 0;
  border-bottom: 0.0769rem solid#E8E8EA;
}
.question-container:hover {
  cursor: pointer;
}
.question-container:hover h4 {
  color: orange;
}
.question {
  /* margin-bottom: 13px; */
  font-weight: 400;
  font-size: 1rem;
  color: #4b4c5f;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.question .arrow {
  width: 12.1875px;
  height: 8.125px;
}

.answer {
  font-size: 1rem;
  line-height: 14.625px;
  color: #787887;
  margin-top: 0.9231rem;
  line-height: 1.3846rem;
}
/* javascript toggles */
.hidden {
  display: none;
  /* overflow: hidden;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out; */
}
.rotate-icon {
  transform: rotate(180deg);
}
.h4-bold {
  font-weight: 700;
  /* background-color: red; */
}
